<ul class="nav nav-tabs">
  <li>
    <%= link_to "Todos", tipo_equipamentos_path %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_tipo_equipamento_path %>
  </li>
  <li class="active">
    <%= link_to "Editando " + @tipo_equipamento.nome %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <%= render :partial => 'form' %>
  </div>
</div>
