<div class="sobre">
  <p>O Mapa da Cultura é uma ferramenta virtual, interativa e aberta, em constante atualização, e que pretende dar visibilidade à produção Cultural do Distrito Federal e Nacional e produzir indicadores e diagnósticos sobre a dinâmica cultural dos territórios.</p>

  <p>Desde 2008 no ar através do projeto Cartografia da Cultura Candanga, este instrumento agora traz um importante avanço: permite o auto mapeamento. Isso significa que além das pesquisas de campo realizadas pela equipe da Artéria, artistas, profissionais da cultura, empresas e grupos culturais das mais diversas áreas poderão se inserir no mapa e subir materias de registro das suas atividades, mediante o preenchimento de um simples formulário.</p>

  <p>É dessa forma que pretendemos divulgar a rica diversidade cultural do Distrito Federal e analisar sua dinâmica. Ganham com esse projeto: o respeitavel público - moradores e visitantes das mais diversas regiões que terão acesso à informações detalhadas sobre o cenário cultural dos territórios e às suas especificidades; o setor cultural, que terá um sólido instrumento para identificação e divulgação de suas atividades. Também ganha o Estado, que terá uma ferramenta eficiente para subsidiar a elaboração de políticas públicas e ações pertinentes ao campo da cultura.</p>
</div>
