<ul class="nav nav-tabs">
  <li>
    <%= link_to "Todos", atividades_path %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_atividade_path %>
  </li>
  <li class="active">
    <%= link_to "Editando " + @atividade.nome %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <%= render :partial => 'form' %>
  </div>
</div>
