  
  <hr/>
  <footer>
    <strong><a href="https://gitorious.org/mapa-da-cultura" target="_blank">Mapa da Cultura</a> <i style="font-size: 11px;">beta</i> - Licenciado sobre a <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></strong>
    <br/><br/>
    <h3>Realização</h3>
    <img alt="Logo Artéria - Cultura e Cidadania" src="/assets/Logo-Arteria-Horizontal-Medium.jpg"/>
    <img alt="Logo FAC GDF" src="/assets/Logo-FAC-GDF-Cultura-Medium.png"/>
    <br/>
    <h3>Apoio</h3>
    <a href="https://juntadados.org" target="_blank"><img alt="Logo juntaDados" src="http://juntadados.org/themes/tmp/logo.png"/></a>
  </footer>
