<hr/>
<footer>
  <center>
    <strong><a href="http://git.mapadacultura.org" target="_blank">Mapa da Cultura</a> <i style="font-size: 11px;">beta</i> - Licenciado sobre a GPLv3</strong>
    <br/>
    <br/>
    <img alt="Logo Artéria - Cultura e Cidadania" src="/assets/Logo-Arteria-Horizontal-Medium.jpg"/>
    <img alt="Logo FAC GDF" src="/assets/Logo-FAC-GDF-Cultura-Medium.png"/>
  </center>
</footer>
